# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.venv
venv/
.env.*

# Packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# coverage
.coverage*
htmlcov/
.coverage
coverage.xml

# Ruff
.ruff_cache/

# Misc
.DS_Store
